@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@400;600&family=Oswald:wght@500&family=Poppins&display=swap");

/* <a href="https://www.freepik.com/free-photo/vivid-blurred-colorful-background_16618863.htm#query=gradient%20background&position=0&from_view=keyword&track=ais">Image by user3802032</a> on Freepik */

/* <a href="https://www.freepik.com/free-photo/vivid-blurred-colorful-background_16618863.htm#query=gradient%20background&position=0&from_view=keyword&track=ais">Image by user3802032</a> on Freepik */

/* body { */
/* background: rgb(159, 236, 254);
  background: linear-gradient(
    90deg,
    rgba(159, 236, 254, 1) 0%,
    rgba(195, 148, 254, 1) 100%
  ); */

/* background-image: url(assets/vivid-blurred-colorful-background.jpg);
  background-size: cover; */

/* background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%); */
/* } */

/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* For Webkit browsers */
::-webkit-scrollbar {
  width: 12px;
}

/* For Webkit browsers */
::-webkit-scrollbar-track {
  background: #fff; /* You can adjust this to the desired background color */
}

/* For Webkit browsers */
::-webkit-scrollbar-thumb {
  background-color: #ffdee9; /* Custom scrollbar color */
  border-radius: 10px;
}

/* For Mozilla Firefox */
html {
  scrollbar-color: #ffdee9 #fff; /* Custom scrollbar color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%; /* Ensure body occupies the full width of the viewport */
  /* Other styles for the body */
  /* ... */
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}
